<div class="container mt-5">
    <form>
        <div class="row justify-content-center">
            <div class="col-sm-5">

                <div class="text-center" >
                    <h2><i class="fa-solid fa-cat"></i></h2>
                    <h2 >login</h2>
                </div>
                <label for="email" class="form-label">email</label>
                <input type="email" class="form-control form-control-sm" name="email" id="email">
                <div class="email error"></div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-5">
                <label for="password" class="form-label">password</label>
                <input type="password" class="form-control form-control-sm" name="password" id="password">
                <div class="pass error"></div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-sm">login</button>
                </div>
            </div>
        </div>

    </form>
</div>


<script src="/javascripts/login.js"></script>