<div class="container text-center mt-5">
    <h1><i class="fa-solid fa-cat"></i>{{title}}</h1>
    <p>Welcome to <span class="title">{{title}}</span>
        <br>enjoy chatting with everyone
    </p>
    <p >
        <a href="/auth/signup" style="text-decoration: none;">Register</a>
        or <a href="/auth/login" style="text-decoration: none;">login</a>
    </p>
</div>