<div class="container text-center mt-5">
    <h1><i class="fa-solid fa-cat"></i>{{title}}</h1>
    <p >Welcome to <span class="title">{{title}}</span></p>
    <p>enjoy chatting with everyone</p>
</div>