<div class="container p-3">
    <div class="row justify-content-center filler">
        <div class="row justify-content-center ">
            <div class="col-md-3 text-center">
                <img src="/images/{{user.image}}" class="profile">
            </div>
        </div>
        <div class="row justify-content-center ">
            <div class="col-md-3 text-center">
                <div class="subtitle">{{user.username}}</div>
            </div>
        </div>
        <div class="row justify-content-center ">
            <div class="col-md-3 text-center">
                <a href="/deleteAccount" class="btn btn-danger btn-sm" style="font-size: 10px;">delete my account</a>
            </div>
        </div>
    </div>
</div>